.bidsWonDiv {
    display: flex;
    flex-direction: column;
    margin: 6rem 1rem;
}

.productsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 90%;
    border-bottom: 1px solid grey;
}

.currentProductDiv:last-child {
    border-bottom: 0;
}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.img {
    width: 5rem;
    margin-right: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.info h3,
p {
    margin: 0.3rem;
}

.totalDiv {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    padding-right: 4.5rem;
}

@media screen and (max-width: 550px) {
    .heading {
        font-size: 1.3rem;
    }
    .name {
        font-size: 1rem;
    }
}
